[user]
name = Vasily Kuznetsov
email = kvas.it@gmail.com

[alias]
dc = diff --cached
d = diff
st = status
co = checkout
lg = log -20 --oneline --pretty=format:"%x1b[33m%h%x09%x1b[32m%d%x1b[0m%x20%s"
l = log -20 --oneline --pretty=format:"%x1b[33m%h%x09%x1b[32m%d%x1b[0m%x20%s"
gl = log --graph --full-history --all --color --pretty=format:"%x1b[33m%h%x09%x1b[32m%d%x1b[0m%x20%s"
[credential]
	helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
